<ul>
    <li {% if page.title == null %}class="active"{% endif %}>
        <a href="index.html">Introduction</a>
        {% if page.title == null %}
            <ul>
                <li>Installation</li>
                <li>Developing</li>
                <li>Contributing</li>
            </ul>
        {% endif %}
    </li>
    <li {% if page.title == "DatabaseConnector" %}class="active"{% endif %}>
        <a href="database.html">DatabaseConnector</a>
        {% if page.title == "DatabaseConnector" %}
            <ul>
                <li>Usage</li>
                <li>Class Methods</li>
                <li>Instance Variables</li>
                <li>Instance Methods</li>
            </ul>
        {% endif %}
    </li>
    <li {% if page.title == "SocketConnector" %}class="active"{% endif %}>
        <a href="socket.html">SocketConnector</a>
        {% if page.title == "SocketConnector" %}
            <ul>
                <li>Usage</li>
                <li>Class Methods</li>
                <li>Instance Variables</li>
                <li>Instance Methods</li>
            </ul>
        {% endif %}
    </li>
</ul>