<ul>
    <li {% if page.title == null %}class="active"{% endif %}>
        <a href="index.html">Introduction</a>
        {% if page.title == null %}
            <ul>
                <li><a href="#installation">Installation</a></li>
                <li><a href="#developing">Developing</a></li>
                <li><a href="#contributing">Contributing</a></li>
            </ul>
        {% endif %}
    </li>
    <li {% if page.title == "DatabaseConnector" %}class="active"{% endif %}>
        <a href="database.html">DatabaseConnector</a>
        {% if page.title == "DatabaseConnector" %}
            <ul>
                <li><a href="#usage">Usage</a></li>
                <li><a href="#class-methods">Class Methods</a></li>
                <li><a href="#instance-variables">Instance Variables</a></li>
                <li><a href="#instance-methods">Instance Methods</a></li>
            </ul>
        {% endif %}
    </li>
    <li {% if page.title == "SocketConnector" %}class="active"{% endif %}>
        <a href="socket.html">SocketConnector</a>
        {% if page.title == "SocketConnector" %}
            <ul>
                <li><a href="#usage">Usage</a></li>
                <li><a href="#class-methods">Class Methods</a></li>
                <li><a href="#instance-variables">Instance Variables</a></li>
                <li><a href="#instance-methods">Instance Methods</a></li>
            </ul>
        {% endif %}
    </li>
</ul>